.PlayerInput {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid #1c1c1c;
    position: relative;
}

.PlayerInput label {
    flex: 1;
    padding: 4px;
    display: block;
    font-weight: bold;
    position: absolute;
}

.PlayerInput input, .PlayerInput input:focus {
    border: none;
    outline: none;
    padding: 26px 12px 12px 12px;
    font-size: 2rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.PlayerInput__name {
    grid-column: 1 / 3;
}

.PlayerInput__cp {
    width: 100px;
}

.PlayerInput__cp input {
    text-align: center;
}