.Player {
    display: none;
    flex-direction: column;
    margin: 16px;
    width: 100%;
}

.Player--visible {
    display: flex;
}

@media only screen and (min-width : 1000px) {
    .Player {
        display: flex;
        width: 50%;
    }
}
